<appSettings>
  <add key="DatabaseInitializerForType RestaurantApp.Voting.Repository.RestaurantVoterDbContext, RestaurantApp.Voting.Repository"
       value="RestaurantApp.Voting.Repository.RestaurantVoterDbInitializer, RestaurantApp.Voting.Repository" />
  <!--Default LaunchTime is 12:00 Noon-->
  <add key="LaunchTime" value="22:20"/>
</appSettings>