<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="TEST_OPPEntities" connectionString="data source=.\SQLEXPRESS;initial catalog=TEST_OPP;persist security info=True;integrated security=True;multipleactiveresultsets=True"
       providerName="System.Data.SqlClient" />
 </connectionStrings>