<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <!--<add name="TEST_OPPEntities" connectionString="metadata=res://*/Database.DataModel.csdl|res://*/Database.DataModel.ssdl|res://*/Database.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TEST_OPP;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="TEST_OPPEntities" connectionString="data source=.\SQLEXPRESS;initial catalog=TEST_OPP;integrated security=True;multipleactiveresultsets=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>