<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="serverUser" value="poasup02"/>
  <add key="serverDomain" value="andritz"/>
  <add key="serverPassword" value="MeMpPo734DP"/>
  <add key="backupServerUser" value="poasup02"/>
  <add key="backupServerDomain" value="andritz"/>
  <add key="backupServerPassword" value="MeMpPo734DP"/>
  <add key="serverSourcePath" value="C:\TESTE"/>
  <add key="serverTargetPath" value="\\poasms002\Segep - Correios\teste"/>
  <add key="backupServerSourcePath" value="\\poasms002\Segep - Correios\teste"/>
  <add key="backupServerTargetPath" value="C:\TESTE\return"/>
</appSettings>