<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="serverUser" value="poasup02"/>
  <add key="serverDomain" value="andritz"/>
  <add key="serverPassword" value="MeMpPo734DP"/>
  <add key="sourcePath" value="C:\TESTE"/>
  <add key="targetPath" value="\\poasms002\Segep - Correios\teste"/>
</configuration>