<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="OriginalServerSourcePath" value="C:\Temp\"/> <!-- C:\OPP\Backup\-->
  <add key="FileTypeForMonitoring" value="*.bak"/>
  <add key="DestinationServerTargetPath" value="\\192.168.25.5\Backup\"/> <!-- \\poasms002\OppDatabase\Backup\-->
  <add key="DestinationServerUser" value="Administrator"/>
  <add key="DestinationServerDomain" value="OPP_DESENV"/>
  <add key="DestinationServerPassword" value="sindus1*"/>
</appSettings>